@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Graduate', cursive;
}

input {
  all: unset;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
.universal-button {
  appearance: none;
  background: radial-gradient(circle at 10% 20%, rgba(102, 67, 153, 0.686) 9.8%, rgba(101, 67, 153, 0.346) 94.9%);
  border: 2px inset rgba(247, 201, 255, 0.308);
  color: #ffffff;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.universal-button:hover {
  background-color: #6a226c65;
  text-decoration: none;
  transition-duration: 0.1s;
}
.App {
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(110.4deg, rgb(255, 218, 254) 9.6%, rgb(255, 243, 182) 91%);
}
.hello {
  font-weight: 700;
  font-size: 40px;
  margin: 1rem 0;
  color: #ae095c;
  text-align: center;
}
.clock {
  display: flex;
  flex-direction: column;
}
.buttons__up__down {
  /* background: linear-gradient(to top, #f2e2ff 0%, #ffe79a7a 100%); */
  background: radial-gradient(circle at 10% 20%, rgba(249, 57, 169, 0.319) 9.8%, rgba(255, 134, 194, 0.321) 94.9%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.buttons__up__down svg:hover {
  background: radial-gradient(circle at 10% 20%, rgba(255, 255, 255, 0.276) 9.8%, rgba(239, 245, 255, 0.349) 94.9%);
}

.buttons__up__down svg {
  width: 100%;
  border-radius: 5px;
  /* background-color: #ffcbcb; */
}

.min-and-sec {
  /* background-color: #faff72; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;
  text-align: center;
}

.inputTimer {
  /* background-color: #db8a8a; */
  font-size: 120px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* block-size: fit-content; */
  /* display: flex;
  flex-direction: row; */
  /* justify-content: space-around; */
}

.buttons-for-timer {
  /* background-color: #f6ff7c; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* height: 8rem; */
  margin-top: 3px;
}

.buttons-for-start-and-stop {
  background-color: inherit;
  /* color: #f22828; */
  border: 0px;
}

.buttons-for-start-and-stop img {
  background-color: inherit;
  width: 80px;
}

.left-side-of-clock {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #c2e4ff; */
  width: 333px;
}

.button-autochange {
  margin-bottom: 1rem;
  color: #ffffff;
  background: radial-gradient(circle at 10% 20%, rgba(101, 67, 153, 0.265) 9.8%, rgba(101, 67, 153, 0.216) 94.9%);

}

.button-autochange:hover {
  /* background-color: rgb(233, 255, 250); */
}

.right-side-of-clock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #eac2ff; */
  width: 333px;
}


.timetochange {
  margin: 16px 19.42px;
  font-size: 80px;
}

/* Sound */
.Sound {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #fdffc2; */
  width: 333px;
  background-color: #ae095b20;
  border-radius: 8px;
  padding: 8px;
  /* margin-left: 5rem; */
  /* background-color: rgb(189, 255, 255); */
}

.sound-selector-container {
  display: flex;
  flex-direction: row;
}

.Sound-selector {
  /* appearance: none; */
  background-color: #ffffff;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px;
  /* position: relative; */
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}


.upload-your-sound-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.upload-your-own-sound-button {
  margin-right: 4px;
}

.Sound-lable {
  margin-right: 0.5rem;
  /* background-color: rgb(255, 205, 139); */
}

.Sound-player--button {
  background-color: #2a6fb4;
}
.file-choosen {
  font-size: 12px;
  margin-top: 2px;
}

.Sound-input--label {
  background-color: #0080ff;
}

.Sound-input {
  background-color: rgb(211, 198, 180);


}

.submit {
  background-color: #0080ff;
}



.names-and-wish-container {
  /* background-color: rgb(250, 215, 215); */
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  /* padding: 2rem; */
  margin: 1rem 0;
}

.input-and-cards {
  /* background-color: rgb(219, 181, 255); */
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 1rem;
}

.input {
  /* background-color: rgb(104, 104, 104); */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.name-list__input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  margin-right: 0.5rem;
  background: linear-gradient(110.4deg, rgba(255, 255, 255, 0.908) 9.6%, rgba(255, 254, 249, 0.745) 91%);
  border: 2px dashed rgba(200, 200, 209, 0.52);
  color: rgb(255, 0, 102);
  font-weight: 700;
}

.name__list {
  /* background-color: rgb(0, 0, 0); */
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.name-list__card {
  list-style: none;
  cursor: move;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: antiquewhite; */
  border-radius: 5px;
  /* border: 2px dashed pink; */
  width: 100%;
  padding: 8px;
  margin: 3px 0;
  background-color: #ffffffcc;
  font-weight: 700;
  color: rgb(255, 0, 102);
}
.name-list__card:hover {
  background-color: #fffdec;
}

.person {
  word-break: break-all;
  white-space: normal;
  width: 95%;
}

.card--active {
  background-color: rgba(255, 0, 102, 0.453);
  color: #ffffff;
  font-weight: 700;
}
.card--active:hover {
  background-color: rgba(255, 0, 102, 0.276);
}

.name-list__card--button {
  color: 'red';
  cursor: 'pointer';
  margin: '0.5rem';
}

.funnyWish {
  /* background-color: rgb(240, 255, 245); */
  width: 30rem;
}

.wish-and-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  /* background-color: #e4f3ff; */
  margin-bottom: 1rem;
}

.luck {
  font-size: 15px;
  padding: 0.5rem;
  border-radius: 4px;
  margin-left: 2rem;
  color: #ae095c;
  background-color: rgba(255, 250, 230, 0.711);
  /* border: 2px dashed rgb(255, 220, 155); */
  font-weight: 900;

}

.funnyWish-image--container {
  text-align: center;
  height: 20rem;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.image {
  width: 20rem;
  height: 20rem;
  border-radius: 8px;
  padding: 10px;
  background: linear-gradient(110.4deg, rgb(255, 255, 255) 9.6%, rgba(255, 243, 182, 0.503) 91%);
  border: 3px dashed rgba(251, 0, 213, 0.266);
  /* background-color: rgb(255, 239, 246);
  border: 2px dashed black; */
}

.name__list {
  /* background-color: rgb(22, 27, 32); */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}



.name-list__button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.name-list__button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.name-list__button:focus {
  outline: 1px transparent;
}

.name-list__button:before {
  display: none;
}

.name-list__button:-webkit-details-marker {
  display: none;
}

.Sound-player--button>img {
  width: 30px;
  margin: 0;
  padding: 0;
}

.two-buttons>button>img {
  width: 40px;
  margin: 0;
  padding: 0;
}

.Sound-player--button {
  border: none;
  background-color: inherit;
  color: none;
  margin-left: 0.3rem;
}

.two-buttons>button {
  border: none;
  background-color: white;
  color: none;
}

.funnyWish-button>img {
  /* width: 30%; */
height: 35px;
  margin: 0;
  padding: 0;
}

.funnyWish-button {
  border: none;
  background-color: inherit;
  color: none;
  height: 100%;
  /* background-color: #2a6fb4; */
}




/* checkbox */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.share__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #e95dff3b;
  border-radius: 8px;
  padding: 8px 8px 8px 0;
}
.Share-input {
  background-color: #e1f2ff;
  /* height: 100%; */
  border-radius: 5px;
  padding: 5px;
  background-color: #fffbf0;
  border: 2px dashed rgb(200, 200, 209);
  margin-left: 8px;

}
.share__popup {
  background-color: #ffffff;
  border-radius: 6px;
  border: 5px dashed rgba(162, 0, 255, 0.664);
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.share__popup--button-close{
all:unset;
  width: 18px;
  text-align: center;
  word-wrap: break-word;
  margin: 12px;
  background-color: rgba(137, 0, 216, 0.427);
  border-radius: 5px;
  padding: 5px;
  color:rgb(255, 255, 255);
  cursor: pointer;

}
.share__popup--button-copy {
  all:unset;
  width: 40px;
  word-wrap: break-word;
  margin: 12px;
  background-color: #fff39b70;
  border-radius: 5px;
  padding: 10px;
  color:rgb(255, 34, 178);
  border: inset 5px rgba(255, 30, 135, 0.768);
  cursor: pointer;
}
.share__popup--button-copy:hover {
  background-color: #fff39b45;
}
.share__popup--content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
canvas{
  margin: 5px;
  border-radius: 18px;
}
.save-and-share-buttons {
  margin: 8px;
}
.share__button--save {
margin: 0 5px;
}

.sound-and-share {
  display: flex;
  flex-direction: row;

  width: 60rem;
  /* background-color: #2196F3; */
  align-items: center;
  justify-content: space-between;
}

.footer-container {
  background-color: #aa4cca76;
  width: 100%;
  display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 0.5rem;
}
.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 60rem;
  padding: 2rem;
}

.Footer-authors {
  margin: 0 1rem;
}
a {
  all: unset;
}
.Footer-authors > h4 {
  color: #f5d6ff;
}
.Footer-authors > p {
  margin-top: 5px;
  color: white;
  cursor: pointer;
  font-weight: 600;
}
.Footer-authors > p:hover {
  color: #ffed84;
}

.Footer-github {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Footer-github > h4 {
  color: #fffec6;
}

.Footer-github > p {
  margin: 15px;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
}



@media only screen and (max-width: 1000px) {

  .left-side-of-clock {
    margin-bottom: 1rem;
  }

  .Sound {
    margin: 1rem 0;

  }

  .names-and-wish-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
  }

  .timer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .input-and-cards {
    width: 100%;
    padding-right: 0;
  }

  .input {
    width: 100%;
  }

  .name-list__card {
    width: 100%;
  }

  .funnyWish {
    width: 100%;
    margin-top: 1rem;
  }
  .sound-and-share {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: #2196F3; */
    align-items: center;
    justify-content: center;
    /* background-color: #2196F3; */
  }
  .share__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e95dff3b;
    border-radius: 8px;
    width: 90%;
    margin-bottom: 0.5rem;
  }
  .share__button--save {
    margin-bottom: 5px;
    }
}